<%=render partial: 'layouts/banner', locals: {:name => @troop.name, :left_option => "Troop Type: #{@troop.name}", :right_option => "Troop Number: #{@troop.number}" }%>     


      <div class="inner-page padd">
      
        <!-- Blog Start -->
          
        <div class="blog">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <!-- The new post done by user's all in the post block -->
                <div class="blog-post">
                  <!-- Entry is the one post for each user -->
                <% @news.each do |article| %>
                  <div class="entry">
                    <!-- Post Images -->
                    <div class="blog-img pull-left">
                      <img src="<%= article.photo %>" class="img-responsive img-thumbnail" alt="" />
                    </div>
                    <!-- Meta for this block -->
                    <div class="meta">
                      <i class="fa fa-calendar"></i>&nbsp; <%= article.formatted_date %>
                      <span class="pull-right"><i class="fa fa-comment"></i> <a href="/troops/<%=article.troop_id%>"><%= article.find_troop_name(article.troop_id) %></a></span>
                    </div>
                    <!-- Heading of the  post -->
                    <h3><a href="blog-single.html"><%= article.headline %> </a></h3>
                    <hr /><!-- Horizontal line -->
                    <!-- Paragraph -->
                    <p><%= article.body %></p>
                    <div class="clearfix"></div>
                  </div>
                <% end %>
 
                  <!-- Entry is the one post for each user -->


                  <!-- Pagination -->
          <%= will_paginate @news, renderer: BootstrapPagination::Rails %>
                  <!-- Pagination end-->
                </div>
              </div> <!--/ Main blog column end -->
              <div class="col-md-3">
                <!-- Blog page sidebar -->
                <div class="blog-sidebar">
                  
                    <div class="col-md-12 col-sm-6">
                      <!-- Blog sidebar page widget -->
                      <div class="sidebar-widget">
                        <!-- Widget Heading -->
                        <h4>Recent Posts</h4>
                        <!-- Recent post list -->
                        <ul class="list-unstyled">
                          <% @sidebar_news.each do |article|  %>
                          <li><i class="fa fa-angle-double-right"></i> <a href="#"><%= article.headline %></a></li>
                          <% end %>
                        </ul>
                      </div><!--/ Widget end -->
                    </div>
                   
                  </div><!--/ Inner row end -->
                </div><!--/ Page sidebar end -->
              </div>
            </div><!--/ Row end -->
          </div>
        </div>