<%=render partial: 'layouts/banner', locals: {:name => "Meeting Planner", :left_option => "Events", :right_option => "Events" }%>

<% @content = @letter.content %>
<% current_replacement = @content.scan(/({{.+?}})/) %>
  <% if @draft_variables %>
    <% @draft_variables.each_with_index do |draft, i| %>    
      <% @content.gsub!(current_replacement.flatten[i], draft.variable_value) %>
    <% end %>
  <% end %>

<%= @content.html_safe %> 


<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.login %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>