<center><h2>Join Us For <%= @troop_event.event.name %></h2>
   <h2>On <%= @troop_event.start_time.strftime("%A %B %e")%> at <%= @troop_event.start_time.strftime("%I:%M %p") %></h2><h2>At <%= @troop_event.location%></h2>


<p><%= @troop_event.detail %></p>
<%= render partial: "/photos/photo_upload", locals: {:type => "troop_event", :id => @troop_event.id} %></br>

<%@photos.each do |photo| %>
    <p>
        <%=image_tag photo.pic_url%>
        <%= form_tag("/photos/#{@troop_event.id}/troop_event/#{photo.id}", method: "delete") do %>
            <%= submit_tag 'Delete' %>
        <%end%>
    </p>
<%end%>
