<center><h2><%= @newsletter.troop.name %> Newsletter</h2></center>

<br/>
<div class = "container-fluid">
<div class="row">
  <div class="col-md-4">
    <h4><%= @newsletter.item1_title %></h4>
    <p><%= @newsletter.item1_desc%></p>

  </div>
  <div class="col-md-4">
    <center>
 <h4><%= @newsletter.item1_title %></h4>
    <p><%= @newsletter.item1_desc%></p>
     <h4><%= @newsletter.item2_title %></h4>
    <p><%= @newsletter.item2_desc%></p>
     <h4><%= @newsletter.item3_title %></h4>
    <p><%= @newsletter.item3_desc%></p>
  </center>
</div>
  <div class="col-md-4">
    <p><%= @newsletter.note_from_leader%></p>  
<br/>
<br/>
<br/>

<br/><br/><br/><br/>
   <p align = "justify"> About Us: YOLO occupy fingerstache Vice literally Etsy. Hella dreamcatcher authentic, Pitchfork gastropub plaid organic literally aesthetic yr meggings 8-bit drinking vinegar actually fixie. Helvetica Brooklyn slow-carb YOLO, Intelligentsia leggings flannel ethnic typewriter Pinterest shabby chic flexitarian. High Life church-key Banksy</p>
   <br/><br/><br/>
    <center><p>Contact Us: site@site.com</p></center>
</div>