<center>
  <h1> <%=@newsletter.troop.name %> Newsletter</h1>
  <h5><%=@newsletter.created_at.strftime("%m/%d/%Y")%></h5>
  <h3> A Note From Your Troop Leader </h3>
<p><%= @newsletter.note_from_leader%></p>  

 <h3><%= @newsletter.item1_title %></h3>
    <p><%= @newsletter.item1_desc%></p>
  </br>
  <br/>
  <br/>
     <h3><%= @newsletter.item2_title %></h3>
    <p><%= @newsletter.item2_desc%></p>
      </br>
  <br/>
  <br/>
     <h3><%= @newsletter.item3_title %></h3>
    <p><%= @newsletter.item3_desc%></p>
  </center>
</div>
 
<br/>
<br/>
<br/><br/>
