<center><h1>Our Scouts</h1>
  <br>
        
        <div class="chefs padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Heading -->
              <!-- Paragraph -->
              <p>Red hair crookshanks bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T., Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel. </p>
            </div>
            <div class="row">
              <% @users.each do |user| %>
              <div class="col-md-4 col-sm-4">
                <!-- Chef Member -->
                <div class="chefs-member">
                  <!-- Chefs member header -->
                  <div class="chefs-head">
                    <!-- Member background image -->
                    <img class="chefs-back img-responsive" src="<%= asset_path("page_bg.jpg") %>" alt="" />
                    <!-- chef member image -->
                    <% if user.profile_photo_url %>
                      <%= link_to(image_tag(user.profile_photo_url(:thumb).to_s, :class => 'chefs-img-index img-responsive'), user_show_path(@troop, user)) %>
                    <% else %>

                    <%= link_to(image_tag('hedwig.jpeg', :class => 'chefs-img-index img-responsive'), user_show_path(@troop, user)) %>
                      <!-- <img src="<%#= asset_path("hedwig.jpeg") %>" class="chefs-img-index img-responsive"> -->
                    <% end %>
                  </div>
                  <!--Name / Heading -->
                  <h3><%= link_to user.name, user_show_path(@troop, user)%></h3>
                  <!-- Member designation -->
                  <span><%= link_to user.role, user_show_path(@troop, user)%></span>
                  <!-- Social media links -->
                </div>
              </div>
              <% end %>


          </div>
        </div>
        
        <!-- Chefs End -->
