<%=render partial: 'layouts/banner', locals: {:name => @user.name, :left_option => "Troop Hub: The Social Media Site for Girl Scouts", :right_option => "Meet Your Troop Members" }%>

<div class="about-company padd">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <!-- About Compnay Item -->
                <div class="about-company-item">
                  <!-- About Company Image -->
                  <!-- <img class="img-responsive img-thumbnail" src="img/chef/about-1.jpg" alt="" /> -->
                  <%= image_tag(@user.profile_photo, :class => 'img-responsive img-thumbnail') %>
                </div>
              </div>
              <div class="col-md-6">
                <!-- About Compnay Item -->
                <div class="about-company-item">
                  <!-- Heading -->
                  <h3><span class="lblue"><%=@user.role%></span></h3>
                  <!-- Paragraph -->
                  <% if @user.birthday %>  
                  <p>Birthday: <%= @user.birthday %></p>
                  <% end %> 

                  <% if @user.grade %>  
                  <p>Grade: <%= @user.grade %></p>
                  <% end %>

                  <% if @user.troops.count > 1 %>
                  <p>Troops:</p> <% @user.troops.each do |troop|%>
                    <li><a href = "/troops/<%=troop.id%>"><%=troop.name%></a></li>
                    <%end%>
                    <%elsif @user.troops == 1%>
                    <p>Troop: <a href = "/troops/<%=@user.troop_ids[0]%>"><%=@user.troops[0].name%></a></p>
                    <%end%>

                  <br /><!--/ Line break -->
                  <div class="row">
                
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <!-- About company inner items -->
                      <div class="about-company-inner">
                        <!-- Paragraph with icon -->

                      <% if @user.role == 'Scout' %>
                      <span class="company-feature"></b>Badges</span>
                       <ul class="list-unstyled">
                        <% @user.badges.each do |badge|%>
                          <li> 
                          <img class = "badge-logo" src = "<%=badge.logo%>"/> <%= badge.name %>  
                          </li>
                        <%end%>

                        <% else %>
                        <span class="company-feature"></b>Skills</span>
                       <ul class="list-unstyled">
                        <% @user.skills.each do |skill|%>
                            <li > <%= skill.name%>
                            <% if @user.user_skills.find_by(skill_id: skill.id).skill_description %>
                             - <span class="lblue"><%= @user.user_skills.find_by(skill_id: skill.id).skill_description %></span>
                             <% end %>
                            </li>
                          <% end %>
                      <% end %>

                        </ul>
                      </div>
                    </div>
                  </div>

                <% if current_user.role == 'Scout' %>
                  <%#if @user == current_user || current_user.admin_privileges == 0 %>
                    <%= render :partial => 'user_badges/new' %>
                  <%#end%>
                <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>

 
</br>
</br>
<%#= link_to 'Home', troops_path %>
 </center>
 <footer> 
  <center>
 <%= button_to 'Back to Troop', troop_user_path(@troop), method: :get, class: 'btn btn-danger' %>
 </center>
 <br> 
  <center>
  <%if @user == current_user %>
    <%= link_to "Edit Account", edit_user_path, class: "btn btn-danger" %>
  <% elsif current_user.admin_privileges == 0  %>
    <%= link_to "Edit Account", edit_user_path, class: "btn btn-danger" %>    
  <%end%>
  </center>
</footer>
