<%= form_for(@skill) do |f| %>
  <%= f.label "Music" %>
  <%= f.check_box :name, :value => "Music" %><br/>
  <%= f.label "Folk Dance & Games" %>
  <%= f.check_box :name, :value => "Folk Dance & Games" %><br/>
  <%= f.label "Arts & Crafts" %>
  <%= f.check_box :name, :value => "Arts & Crafts" %><br/>
  <%= f.label "Sewing, Needle Arts" %>
  <%= f.check_box :name, :value => "Sewing, Needle Arts" %><br/>
  <%= f.label "Health & Safety" %>
  <%= f.check_box :name, :value => "Health & Safety" %><br/>
  <%= f.label "Cooking" %>
  <%= f.check_box :name, :value => "Cooking" %><br/>
  <%= f.label "Outdoor Skills" %>
  <%= f.check_box :name, :value => "Outdoor Skills" %><br/>
  <%= f.label "Nature, Ecology" %>
  <%= f.check_box :name, :value => "Nature, Ecology" %><br/>
  <%= f.label "Photography" %>
  <%= f.check_box :name, :value => "Photography" %><br/>
  <%= f.label "Math & Science" %>
  <%= f.check_box :name, :value => "Math & Science" %><br/>
  <%= f.label "Computers" %>
  <%= f.check_box :name, :value => "Computers" %><br/>
   <%= f.label "Other" %>
  <%= f.text_field :name %><br/>
  <%= f.submit %>
  <% end %>
    <br/>


    <%= form_for([@user, contact], :html => {:class => 'form-inline'}, :data => {:user_id => @user.id}) do |f| %>
                  <div class="contact-edit-form">
                    <%= f.label "First Name:" %> 
                    <%= f.text_field :first_name, :class => "form-control"%>
                      <%= f.label "Last Name:" %>
                      <%= f.text_field :last_name, :class => "form-control" %>
                      <%= f.label "Nick Name:" %>
                      <%= f.text_field :nick_name, :class => "form-control" %>
                      <%= f.label "Phone Number:" %>
                      <%= f.phone_field :phone_number, :class => "form-control" %>  
                      <br> 
                      <%= f.label "Birthday:" %>
                      <%= f.date_field :birthday, :class => "form-control" %>
                      <%= f.submit "Update Record" %>
                  </div>  
  