<%=render partial: 'layouts/banner', locals: {:name => "Our Scouts", :left_option => "The Social Media Site for Girl Scouts", :right_option => "Check out your Troop" }%>

 <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Inner Content -->
      <div class="inner-page padd">
      
        <!-- General Info Start -->
        
        <div class="general">
          <div class="container">
            <div class="row">
               <div class="col-md-4 col-sm-4">
                <!-- General Sidebar image -->
                <div class="general-img">
                  <img class="img-responsive img-thumbnail" src="img/dish/dish1.jpg" alt="" />
                  <!-- Hot tag -->
                  <span class="hot-tag br-green">New</span>
                </div>
                <!-- General Sidebar image -->
                <div class="general-img">
                  <img class="img-responsive img-thumbnail" src="img/dish/dish2.jpg" alt="" />
                  <!-- Hot tag -->
                  <span class="hot-tag br-red">Hot</span>
                </div>
              </div>
              <div class="col-md-8 col-sm-8">
                <!-- General information content -->

                 <% @events.each do |event| %>

                  <!-- Navigation tab -->
                  <div class="component-content">
                         
                    <!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
                     <h3 align="center"><%= event.name %></h3>
                     
                      <!-- List content -->
                      <ul class="list-unstyled">
                        <li><i class="fa br-lblue"></i> Age Levels: 
                           <% event.age_levels.each_with_index do |age_level, i|%>
                            <%if i+1==event.age_levels.length%>
                              <%=age_level.name%>
                            <%else%>
                              <%=age_level.name%>,
                            <%end%>
                          <%end%> 
                        </li>
                        <% unless event.badges.empty? %>

                          <li><i class="fa fa-envelope-o br-lblue"></i> Badges:                           
                             <% event.badges.each_with_index do |badge, i|%>
                              <%if i+1==event.badges.length%>
                                <%=badge.name%>
                              <%else%>
                                <%=badge.name%>,
                              <%end%>
                            <%end%>                          
                        </li>
                        <% end %>

                        <% unless event.season.blank? %>

                          <li><i class="fa fa-envelope-o br-lblue"></i> Seasons:                           
                             <%=event.season%>      
                        </li>
                        <% end %>

                        <% unless event.location.blank? %>

                          <li><i class="fa fa-envelope-o br-lblue"></i> Location:                           
                             <%=event.location.capitalize%>      
                        </li>
                        <% end %>

                        <% unless event.description.blank? %>

                          <li><i class="fa fa-envelope-o br-lblue"></i> Description:                           
                             <%=event.description%>      
                        </li>
                        <% end %>

                        <br>
                        <form action="/troop_events/new" method="get">
                          <button type="submit" class="btn btn-danger">Add Event to Calendar</button>
                          <input type = "hidden" name = "event_id" value="<%=event.id%>">
                        </form>
     
                      </ul>
                    </div><!-- / component content end -->

               <% end %> 
              <div> <!-- / col-md-8 col-sm-8 end -->


             

            </div> <!-- / row end -->
          </div> <!-- / container -->
        </div> <!-- / general end -->
        </div> <!-- / inner page pad end -->
        
        <!-- General Info End -->
      
        
      </div><!-- / Inner Page Content End --> 
      
     
      
    </div><!-- / Wrapper End -->




 
