    <!-- Page Wrapper -->
    <div class="wrapper">
        <!-- Dishes Start -->         
        <div class="dishes padd">
          <div class="container">
            <!-- Default Heading -->
    
            <div class="row">
             <% @events.each do |event| %>
              <div class="col-md-3 col-sm-6"> 
                <div class="dishes-item-container">
                  <!-- Image Frame -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img src="img/dish/dish5.jpg" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="#"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3>Delicious Chinese</h3>
                    <!-- Paragraph -->
                    <p>At vero eos et accusal gusto for ides residuum lores.</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-danger btn-sm">Add Event</a>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>          
        </div>
        <!-- Dishes End -->   
    </div><!-- / Wrapper End -->


<h1>Events</h1>
<button type = "button"><%=link_to "Add Event", events_new_path%></button><br/>
<br/>
<% @events.each do |event| %>
Name: <%= event.name %><br/>
Grades: 
    <% event.age_levels.each_with_index do |age_level, i|%>
        <%if i+1==event.age_levels.length%>
          <%=age_level.name%>
        <%else%>
          <%=age_level.name%>,
        <%end%>
    <%end%></br>
Genre: <%= event.genre %><br/>
Description: <%= event.description %><br/>
Season: <%= event.season %><br/>
Location: <%= event.location %><br/>
<% event.badges.each_with_index do |badge, i|%>
  <%if i+1==event.badges.length%>
    <%=badge.name%>
  <%else%>
    <%=badge.name%>,
  <%end%>
<%end%>
<%#=# form_tag ("/troops_events/new") do %>

<form action="/troop_events/new" method="get">
  
  <input type="submit" value="Add Event to Calendar">
  <input type = "hidden" name = "event_id" value="<%=event.id%>">
</form>

<%#= submit_tag 'Add Event to Calendar' %>
<%#end%>
<br/>
<br/>


<%end%>
<br/>
<%= link_to 'Troops Index', troops_path %>