<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#advancedSearch">Advanced Search</button>

<div class="modal fade" id="advancedSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Advanced Search</h4>
      </div>
      <div class="modal-body">
        <%= form_tag("/events/search", method: "get") do %>

        <%= label_tag(:'event[name]', "Event name:", :class => "form_label_font") %>
        <%= text_field_tag(:'event[name]', nil, :class => "form-control") %></br>
        <label class="form_label_font">Event Category:</label>
        <select id="event_skill_id" name="event[skill_id]", class="form-control">
          <option value="0">Any</option>
          <option value="1">Sports &amp; Fitness</option>
          <option value="2">Drama</option>
          <option value="3">Music</option>
          <option value="4">Dance</option>
          <option value="5">Arts &amp; Crafts</option>
          <option value="6">Cooking</option>
          <option value="7">Geography &amp; Culture</option>
          <option value="8">Health &amp; Safety</option>
          <option value="9">Community Service</option>
          <option value="10">Computer Science</option>
          <option value="11">Technology</option>
          <option value="12">Math</option>
          <option value="13">Engineering</option>
          <option value="14">Science</option>
          <option value="15">Astronomy</option>
          <option value="16">Financial Literacy</option>
          <option value="17">Career Exploration</option>
          <option value="18">Plants &amp; Gardening</option>
          <option value="19">Outdoor Skills</option>
          <option value="20">Animals</option>
          <option value="21">Climate/Earth Science</option>
          <option value="22">Habitat Restoration</option>
          <option value="23">Other</option>
        </select>
  
        <label class="form_label_font">Appropriate Age Level:</label><br>
        <label for="event_age_level_ids_1">Daisy</label>
        <input id="event_age_level_ids_1" name="event[age_level_ids][]" type="checkbox" value="1"> | 
        <label for="event_age_level_ids_2">Brownie</label>
        <input id="event_age_level_ids_2" name="event[age_level_ids][]" type="checkbox" value="2"> | 
        <label for="event_age_level_ids_3">Junior</label>
        <input id="event_age_level_ids_3" name="event[age_level_ids][]" type="checkbox" value="3"> | 
        <label for="event_age_level_ids_4">Cadette</label>
        <input id="event_age_level_ids_4" name="event[age_level_ids][]" type="checkbox" value="4"> | 
        <label for="event_age_level_ids_5">Senior</label>
        <input id="event_age_level_ids_5" name="event[age_level_ids][]" type="checkbox" value="5"> | 
        <label for="event_age_level_ids_6">Ambassador</label>
        <input id="event_age_level_ids_6" name="event[age_level_ids][]" type="checkbox" value="6"> | 
        <label for="event_age_level_ids_7">All Ages</label>
        <input id="event_age_level_ids_7" name="event[age_level_ids][]" type="checkbox" value="7"> 
        <input name="event[age_level_ids][]" type="hidden" value="">
        </br>

        <%= label_tag(:'season', "Event season:", :class => "form_label_font") %>
        <%= select_tag(:season, options_for_select([['Any', 1],
          ['Spring', 2],
          ['Summer', 3],
          ['Fall', 5],
          ['Winter', 7],
          ['January', 49],#winter
          ['Febuary', 77],#winter
          ['March', 14],#spring and winter
          ['April', 4],#spring
          ['May', 22],#spring
          ['June', 6],#spring and summer
          ['July', 9],#summer
          ['August', 33],#summer
          ['September', 15],#summer and fall
          ['October', 25],#fall
          ['November', 55],#fall
          ['December', 35],#winter and fall
          ['New Years', 245],#january and december
          ['Independence Day', 117]], 1), :class => "form-control")%> <!--july-->
          <!-- This system is probably not sustainable. But it was fun to write -->
        </br>
        <label class="form_label_font">Badges Earned</label>
        <%#= autocomplete_field_tag :"event[badge_id]", nil, autocomplete_badge_name_events_path, :id_element => '#some_element', 'data-delimiter' => ',', :multiple => true, :class => "form-control"%>

 <%= submit_tag("Search") %>
 <%end%>      </div>
  
    </div>
  </div>
</div>
