<%= form_tag("/events/search", method: "get") do %>
  <%= label_tag(:'event[name]', "Event name:") %>
  <%= text_field_tag(:'event[name]') %></br>
  <%= label_tag(:'event[genre]', "Event genre:") %>
  <%= text_field_tag(:'event[genre]') %></br>
  
  <h4>Age Level</h4>
  <% @age_levels.each do |age_level| %>
    <%= check_box_tag 'age_level_ids[]', age_level.id%>
    <%= age_level.name%></br>
  <% end %>
  
  <h4>Badges</h4>
  <% @badges.each do |badge| %>
    <%= check_box_tag 'badge_ids[]', badge.id%>
    <%= badge.name%></br>
  <% end %>

  <%= select_tag(:season, options_for_select([['Any', 1],
    ['Spring', 2],
    ['Summer', 3],
    ['Fall', 5],
    ['Winter', 7],
    ['January', 49],#winter
    ['Febuary', 77],#winter
    ['March', 14],#spring and winter
    ['April', 4],#spring
    ['May', 22],#spring
    ['June', 6],#spring and summer
    ['July', 9],#summer
    ['August', 33],#summer
    ['September', 15],#summer and fall
    ['October', 25],#fall
    ['November', 55],#fall
    ['December', 35],#winter and fall
    ['New Years', 245],#january and december
    ['Independence Day', 117]], 1))%> <!--july-->
    <!-- This system is probably not sustainable. But it was fun to write -->
  </br>


 <%= submit_tag("Search") %>
 <%end%>

 <!-- Right now age level searches as "or" while other things search as "and" -->