<h1>Events</h1>
<button type = "button"><%=link_to "Add Event", events_new_path%></button><br/>
<br/>
<% @events.each do |event| %>
Name: <%= event.name %><br/>
Grades: <%= event.grades %><br/>
Genre: <%= event.genre %><br/>
Description: <%= event.description %><br/>
Season: <%= event.season %><br/>
Location: <%= event.location %><br/>
 <% event.badges.each do |i| %>
Possible Badges: <%= i.name %>
<%end%>
<%= form_tag ("/troops_events/new") do %>



<%= submit_tag 'Add Event to Calendar' %>
<%end%>
<br/>
<br/>


<%end%>