
<%=render partial: 'layouts/banner', locals: {:name => "Events", :left_option => "TBD", :right_option => "TBD" }%>

                <!-- Showcase Start -->
                
                <div class="showcase new-font">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="http://www.flaticon.com/png/256/43179.png" width ="250" height="290" alt="" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/general/index">General</a></h3>
                                    <!-- Paragraph -->
                                    <% @general_skills.each do |skill| %>
                                    <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="http://www.flaticon.com/png/256/12124.png" width ="250" height="290" alt="" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/stem/index">STEM</a></h3>
                                    <% @stem_skills.each do |skill| %>
                                    <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                       <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                   
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="http://www.flaticon.com/png/256/31816.png" alt="" width ="250" height="290" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/business-smarts/index">Business Smarts</a></h3>
                                    <% @business_skills.each do |skill| %>
                                    <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <p></p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                             <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="http://www.flaticon.com/png/256/43798.png" alt="" width ="250" height="290" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/nature-and-ecology/index">Nature and Ecology</a></h3>
                                    <!-- Paragraph -->
                                    <% @nature_skills.each do |skill| %>
                                    <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                
                <!-- Showcase End -->