<%= render '/layouts/navbar' %>
<%= render 'search' %>
<h1>Events</h1>
<button type = "button"><%=link_to "Add Event", events_new_path%></button><br/>
<br/>
<% @events.each do |event| %>
    Name: <%= event.name %><br/>
    Grades: 
    <% event.age_levels.each do |age_level|%>
        <%=age_level.name%>, 
    <%end%>
    <br/>
    Genre: <%= event.genre %><br/>
    Description: <%= event.description %><br/>
    Season: <%= event.season %><br/>
    Location: <%= event.location %><br/>
    Possible Badges:
    <% event.badges.each do |i| %>
        <%= i.name %>, 
    <%end%>
    <!-- kill the last comma here. also above with troops -->


<form action="/troop_events/new" method="get">
  
  <input type="submit" value="Add Event to Calendar">
  <input type = "hidden" name = "event_id" value="<%=event.id%>">
</form>
    <%end%>

<%#= submit_tag 'Add Event to Calendar' %>
<%#end%>
<br/>
<br/>


<%end%>
<br/>
<%= link_to 'Troops Index', troops_path %>
