<%=render partial: 'layouts/banner', locals: {:name => "Events", :left_option => "Troop Hub: The Social Media Site for Girl Scouts", :right_option => "Browse Ideas for Group Activites by Category and Include Them on Your Troop Calendar" }%>

                <!-- Showcase Start -->
                
                <div class="showcase new-font">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="/assets/generalskills.gif" width ="300" height="300" alt="" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/general/index">General</a></h3>
                                    <!-- Paragraph -->
                                    <% @general_skills.each do |skill| %>
                                        <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="/assets/science_skills.gif" width ="300" height="300"  alt="" />
                                    <!-- Heading -->
                                    <h3><a href="/skills/stem/index">STEM</a></h3>
                                    <% @stem_skills.each do |skill| %>
                                        <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                       <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br> <br>
                                    <br>
                                   
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="/assets/business_skills.gif" alt="" wwidth ="300" height="300"  />
                                    <!-- Heading -->
                                    <h3><a href="/skills/business-smarts/index">Business Smarts</a></h3>
                                    <% @business_skills.each do |skill| %>
                                        <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <p></p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                             <div class="col-md-6 col-sm-6">
                                <!-- Showcase section item -->
                                <div class="showcase-item">
                                    <!-- Image -->
                                    <img class="img-responsive" src="/assets/nature_skills.gif" alt="" width ="300" height="300"  />
                                    <!-- Heading -->
                                    <h3><a href="/skills/nature-and-ecology/index">Nature and Ecology</a></h3>
                                    <!-- Paragraph -->
                                    <% @nature_skills.each do |skill| %>
                                        <p><a href="/skills/<%=skill.id%>"><%= skill.name%></a></p>
                                    <% end %>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                
                <!-- Showcase End -->

                
