<br/>
<br/>
<body>
<center><h1>Events</h1></center>
<%= render 'search'%><br/>
<button class = "btn btn-default btn-xs"><%=link_to "Add Event", events_new_path%></button><br/>

<br/>
<% @events.each do |event| %>
    Name: <%= event.name %><br/>
    Grades: 
    <% event.age_levels.each do |age_level|%>
        <%=age_level.name%>, 
    <%end%>
    <br/>
    Genre: <%= event.genre %><br/>
    Description: <%= event.description %><br/>
    Season: <%= event.season %><br/>
    Location: <%= event.location %><br/>
    Possible Badges:
    <% event.badges.each do |i| %>
        <%= i.name %>, 
    <%end%>
    <!-- kill the last comma here. also above with troops -->

    <%= form_tag("/events/#{event.id}/edit", method: "get") do %>
        <%= submit_tag 'Edit' %> <!--Or use link_to here instead-->
    <%end%>
    
    <%= form_tag("/events/#{event.id}/delete", method: "delete") do %>
        <%= submit_tag 'Delete' %>
    <%end%>

<form action="/troop_events/new" method="get">
  
  <input type="submit" value="Add Event to Calendar">
  <input type = "hidden" name = "event_id" value="<%=event.id%>">
</form>

<br/>
<br/>


<%end%>
<br/>
<%= link_to 'Troops Index', troops_path %>
</body>