<%= form_for [@troop, @scout], url: troop_scouts_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <br/>
  <%= f.label :grade %>
  <%= f.select(:grade, options_for_select(grade_level)) %>
  <%#= select_tag :grade, options_for_select(grade_level) %>
  <%#= f.text_field :grade %><br/>
    <br/>

<%#= f.date_select(:birthday, :start_year => 1910) %>

<%= f.label :birthday %>:
<%= f.date_field :birthday, :value => Time.now.strftime("%Y-%m-%d")  %>
<%#= f.date_select :birthday, :default =>  %>
<%#= date_select 'Birthday', :order => [:month, :day, :year], :include_blank => 'true', :default => 'nil' %>

<%#= f.date_select  :birthday, "Birthday", :start_year => 1910 %>

<br/>
  <%= f.label :email %>
  <%= f.email_field :email %><br/>
    <br/>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br/>
    <br/>
  <%= f.label :patches, 'Patches earned:' %>
  <%= f.area :patches %><br/>
    <br/>
  <%= f.label :profile_photo %>
  <%= f.file_field :profile_photo %><br/>
    <br/>
  <br/>

</p>

    <br/>
  <%= f.submit %>
<% end %>