
<%= form_for [@agenda], url: new_troop_agenda_path do |f| %>

  <%= f.label :meeting_date, 'Date of meeting: ' %><br>
  <%= f.date_field :meeting_date, :value => Time.now.strftime("%Y-%m-%d") %><br/>
  <br/>

  <%= f.label :location, 'Location: ' %><br>
  <%= f.text_field :location %><br/>
  <br/>

  <%= f.label :activty_1, 'Start-up Activity (while girls arrive): ' %><br>
  <%= f.text_area :activity_1 %><br/>
  <br/>

  <%= f.label :activty_2, 'Opening discussion & Troop Business (attendance, dues, Promise/Law): ' %><br>
  <%= f.text_area :activity_2 %><br/>
  <br/>

  <%= f.label :activty_3, 'Activity (movement game, craft, badgework, etc.): ' %><br>
  <%= f.text_area :activity_3 %><br/>
  <br/>

  <%= f.label :activty_4, 'Activity (movement game, craft, badgework, etc.): ' %><br>
  <%= f.text_area :activity_4 %><br/>
  <br/>

  <%= f.label :activty_5, 'Activity (snack, clean-up): ' %><br>
  <%= f.text_area :activity_5 %><br/>
  <br/>

  <%= f.label :activty_6, 'Closing Activity (friendship circle, song, squeeze): ' %><br>
  <%= f.text_area :activity_6 %><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

<h3>Other information:</h3>
  <%= f.label :snack, 'Snack: ' %><br>
  <%= f.text_field :snack %><br/>
  <br/>
  <%= f.label :patches, 'Relevant badges/patches: ' %><br>
  <%= f.text_field :patches %><br/>
  <br/>
  <%= f.label :supplies, 'Supplies needed: ' %><br>
  <%= f.text_area :supplies %><br/>
  <br/>
  <%= f.label :jobs, 'Kapers/Job assignments: ' %><br>
  <%= f.text_area :jobs %><br/>
  <br/>
  <%= f.label :troop_info, 'Notes (calls/emails to make, info/materials to share with troop members and parents, decisions for next meeting)' %><br>
  <%= f.text_area :troop_info %><br/>
  <br/>
  <br/>
  <%= f.submit %>
<% end %>

