<h1>Agenda#show</h1>
<p>Find me in app/views/agenda/show.html.erb</p>


<h1>Troop Meeting Agenda for <%= @agenda.date %>:</h1>
<br>
<br>
<p>Location:  <%= @agenda.location %></p>
<br>

<p><%= agenda.activity_1 %></p>
<br>

<p><%= agenda.activity_2 %></p>
<br>

<p><%= agenda.activity_3 %></p>
<br>

<p><%= agenda.activity_4 %></p>
<br>

<p><%= agenda.activity_4 %></p>
<br>

<p><%= agenda.activity_5 %></p>
<br>

<p><%= agenda.activity_6 %></p>
<br>
<br>
<br>
<br>


<p><%= agenda.snack %></p>
<br>

<p><%= agenda.patches %></p>
<br>

<p><%= agenda.supplies %></p>
<br>

<p><%= agenda.jobs %></p>
<br>

<p><%= agenda.troop_info %></p>
<br>



<br>
<br>

