<%=render partial: 'layouts/banner', locals: {:name => "Invite Members", :left_option => "The Social Media Site for Girl Scouts", :right_option => "Search Activities, Create Events, Organize Your Troops! " }%>
<div class="inner-page padd">
  <!-- Booking Start -->
  <div class="booking">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Heading -->
          <h2><%= t "devise.invitations.new.header" %></h2>
          <!-- Paragraph -->
          <p>
        </div> <!-- col-md-12 -->
        <!-- Image Slider -->
        <div class="col-md-4">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
            <%= devise_error_messages! %>

            <% resource.class.invite_key_fields.each do |field| -%>
            <p><%= f.label field %><br /><%= f.text_field field %></p>
            <% end -%>
            <p><%= f.label "name" %><br /><%= f.text_field "name" %></p>
            
            <label>Role</label>
                <div class="form-group">
                  <!-- Form drop down -->
                  <select name="user[role]" class="form-control role-select">
                    <option value>Please select one to continue</option>
                    <option value="Scout">Scout</option>
                    <option value="Parent">Parent</option>
                    <option value="Troop Leader">Troop Leader</option>
                    <option value="Volunteer">Volunteer</option>
                  </select>
                </div>
            <label>Troop</label>
                <div class="form-group">
                  <!-- Form drop down -->
                  <select name="troop_id" class="form-control role-select">
                    <%Troop.all.each do |troop|%>
                      <option value=<%=troop.id%>><%=troop.name%></option>
                    <%end%>
                  </select>
                </div>
            <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>