<%= form_for(@troop) do |f| %>
    <label>Troop Name:</label>
    <%= f.text_field :name, class: "form-control" %></br>
  
    <label>Troop Number:</label>
    <%= f.text_field :number, class: "form-control" %>
  <label>Troop Type:</label></br>
  <% @age_levels.each do |age_level| %>
    <%if age_level.id != 7%>
      <%= f.radio_button :age_level_id, age_level.id%>
      <%= f.label :age_level_id, age_level.name %></br>
    <%end%>
  <% end %>
                      <!-- Form inside table wrapper -->
                     
                    
    <label>City:</label>
    <%= f.text_field :city, class: "form-control" %></br>
  
    <label>State:</label>
    <%= f.text_field :state, class: "form-control" %></br>

  
    <label>Zip Code:</label>
    <%= f.text_field :zip_code, class: "form-control" %></br>

  
    <label>Meetup Location:</label>
    <%= f.text_field :meetup_location, class: "form-control" %></br>

  
    <label>About Us:</label>
      <%= f.text_area :about_us, class: "form-control" %></br>
      <br>

  <button class="btn btn-danger btn-sm show-submit " type="submit">Add Troop</button>
<% end %>
