
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h3><%= e.name %></h3>
  <b>Date:</b> <%= e.start_time.strftime("%A %B %e")%><br/>
<b>Time:</b> <%= e.start_time.strftime("%I:%M %p") %><br/>
<b>Location:</b> <%= e.location%><br/>
<b>Details:</b> <%= e.detail%><br/>
    </div>
  </div>