<center><h1><%= @troop.name %></h1>
<h6>Troop Number: <%= @troop.number %></h6>
<h6>Troop Type: <%= @troop.troop_type %> </h6></center>
</br>

<p><b>About Us:</b> <%=@troop.about_us %></p>
<br/>
<br/>
<%= link_to 'Troop Members Listing', troop_scouts_path(@troop) %>
</br>
</br>
<%= link_to 'Add a troop member', new_troop_scout_path(@troop) %>
</br>
</br>
<%= link_to 'Back', troops_path %>

