<center><h1><%= @troop.name %></h1>
<h6>Troop Number: <%= @troop.number %></h6>
<h6>Troop Type: <%= @troop.troop_type %> </h6></center>
</br>

<p><b>About Us:</b> <%=@troop.about_us %></p>
</br>
</br>
<center><h2>Calendar of Events</h2></center>

<%= calendar @troop_events do |e| %>
<% if e.troop_id == @troop.id %>
  <div><a href ="/troop_events/<%=e.id%>"><%= e.event.name %></a></div>
  <%end%>
<% end %>

<%= link_to 'Back', troops_path %>

