<%#=render partial: 'layouts/banner', locals: {:name => @troop.name, :right_option => "Troop Number: {@troop.number}" } %>

<%=render partial: 'layouts/banner', locals: {:name => @troop.name, :left_option => "Troop Type: #{@troop.name}", :right_option => "Troop Number: #{@troop.number}" }%>
<!-- #update! -->
<body>
    <!-- if we want to be really snazzy we should change the word "company" to "troop" here and in the css file -->
<div class="about-company padd">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-company-item"> 
                    <%= image_tag @troop.profile_url, :class =>  "img-responsive img-thumbnail"%>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-company-item">
                    <h3>About Us:</h3>
                    <p><%=@troop.about_us %></p>
                    </br>
                    <% if @user.troop_ids.include?(@troop.id)%>
                   <center> <%= link_to 'Troop Members Listing', troop_user_path(@troop) %></center>
                    <%end%>

                </div>
            </div>
        </div>
    </div>
</div>


<br/>
<br/>
</br>
</br>
<%#= link_to 'Add a scout', new_troop_scout_path %>
</br>
</br>
<div class="row">
<div class="col-md-6">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" width="100px">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
               <center>Calendar of Events</center>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
                <%= calendar @troop_events do |e| %>
                <% if e.troop_id == @troop.id %>
                <ul>
                 <li><a href ="/troop_events/<%=e.id%>"><%= e.name %></a></li>
                  <%end%>
                </ul>
                <% end %>
          </div>
        </div>
    </div>
    </div>
    </div>
  <div class="col-md-6">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" width="100px">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
               <center>Troop News</center>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            NEWS
                <br/>
          </div>
        </div>
      </div>
    </div>
    </div>

      </div>
</div>


<#%= link_to 'Browse Events', events_path %#></br>


</body>

