<!DOCTYPE html>



<html>
<head>
  <title>TroopHub</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'thinmint.jpg' %>

</head>

    <%= render '/layouts/navbar' %>


<!-- <div class = "banner padd"><div class = "container"> <%#= image_tag "crown-white.png"%><h2 class = "white"><%#= @troop.name %></h2>
 
 <ol class = "breadcrumb">
  <li>Troop Number: <%#= @troop.number %></li>
<li>Troop Type: <%#= @troop.troop_type %> </li>
</ol>


</div>
</div>
 -->
<br/>
<body>




<% if flash[:notice] %>
<div id=”notice”><%= flash[:notice] %></div>
<% end %>

<%= yield %>

<%= render '/layouts/footer' %>



</body>
</html>